<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>REASON</title>
	<meta name="description" content="Free Responsive Html5 Css3 Templates">
	<meta name="author" content="">
	
    <!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- CSS
	================================================== -->
  	<link rel="stylesheet" href="https://ccreason.oss-cn-beijing.aliyuncs.com/websource/css/zerogrid.css">
	<link rel="stylesheet" href="https://ccreason.oss-cn-beijing.aliyuncs.com/websource/css/style.css">
	
	<!-- Custom Fonts -->
<!--    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->
	
	
	<link rel="stylesheet" href="https://ccreason.oss-cn-beijing.aliyuncs.com/websource/css/menu.css">
	<script src="https://ccreason.oss-cn-beijing.aliyuncs.com/websource/js/jquery1111.min.js" type="text/javascript"></script>
	<script src="https://ccreason.oss-cn-beijing.aliyuncs.com/websource/js/script.js"></script>
	
	<!-- Owl Carousel Assets -->
    <link href="https://ccreason.oss-cn-beijing.aliyuncs.com/websource/owl-carousel/owl.carousel.css" rel="stylesheet">
	
	<!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/Items/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
		<script src="js/html5.js"></script>
		<script src="js/css3-mediaqueries.js"></script>
	<![endif]-->
	<link href="https://cdn.bootcdn.net/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.css" rel="stylesheet">
	<style>
		.has-sub ul li {
			max-width: 137px;
		}
		#cssmenu {
			z-index: 20;
		}
	</style>
			<script src="https://cdn.bootcdn.net/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.js"></script>

</head>

<body>
	<div class="wrap-body">
		
		<header class="main-header">
			<div class="zerogrid">
				<!--Top-->
				<div class="t-center">
					<a class="site-branding" href="index.html">
						<img src="https://ccreason.oss-cn-beijing.aliyuncs.com/websource/images/nlogo.png" width="300px"/>	
					</a><!-- .site-branding -->
					
					<!-- Menu-main -->
					<div id="cssmenu" class="align-center">
						<ul>
              <li><a href="index.html"><span>Home</span></a></li>
              <li><a href='5-.html'><span>5-</span></a></li>
              <li><a href='6.html'><span>6</span></a></li>
              <li><a href='7.html'><span>7</span></a></li>
							<li class='last'><a href='8+.html'><span>8+</span></a></li>
							<li class=" has-sub"><a href="#"><span>价格筛选</span></a>
							  <ul>
								 <li><a href="78.html"><span style="font-size: 19px;">78</span></a></li>
								 <li><a href="88.html"><span style="font-size: 19px;">88</span></a></li>
								 <li><a href="98.html"><span style="font-size: 19px;">98</span></a></li>
								 <li class="active"><a href="108.html"><span style="font-size: 19px;">108</span></a></li>
								 <li><a href="128+.html"><span style="font-size: 19px;">128+</span></a></li>
							  </ul>
						   </li>
           </ul>
					</div>
				</div>
			</div>
		</header>
		
		<!--////////////////////////////////////Container-->
		<section id="container">
			<div class="wrap-container">
				<div id="main-content">
					<div class="wrap-content">
						<div class="zerogrid">
							<div class="row" id="gallery">
                <!-- 111111111111111111111111111 -->
								<div class="col-1-3">
									<div class="wrap-col">
												
											<template v-for="item in first_col">
													<a @click="showinfo(item.name,item.type,item.feature,item.background,item.face_img)" class="portfolio-box zoom-effect">
															<img :src="item.face_img" class="img-responsive" alt="">
															<div class="portfolio-box-caption">
																<div class="portfolio-box-caption-content">
																	<div class="project-name">
																		<span>#{{ item.name }}</span>
																	</div>
																	<div class="project-name">
																		<span>{{ item.players }}*{{ item.price }}</span>
																	</div>
																</div>
															</div>
														</a>
											</template>

									</div>
                </div>
                <!-- 222222222222222222222222222222222 -->
                <div class="col-1-3">
                    <div class="wrap-col">

												<template v-for="item in second_col">
														<a @click="showinfo(item.name,item.type,item.feature,item.background,item.face_img)" class="portfolio-box zoom-effect">
																<img :src="item.face_img" class="img-responsive" alt="">
																<div class="portfolio-box-caption">
																	<div class="portfolio-box-caption-content">
																		<div class="project-name">
																			<span>#{{ item.name }}</span>
																		</div>
																		<div class="project-name">
																			<span>{{ item.players }}*{{ item.price }}</span>
																		</div>
																	</div>
																</div>
															</a>
												</template>
                          
                    </div>
                  </div>
                  <!-- 333333333333333333333333333333333 -->
                  <div class="col-1-3">
                      <div class="wrap-col">

													<template v-for="item in third_col">
															<a @click="showinfo(item.name,item.type,item.feature,item.background,item.face_img)" class="portfolio-box zoom-effect">
																	<img :src="item.face_img" class="img-responsive" alt="">
																	<div class="portfolio-box-caption">
																		<div class="portfolio-box-caption-content">
																			<div class="project-name">
																				<span>#{{ item.name }}</span>
																			</div>
																			<div class="project-name">
																				<span>{{ item.players }}*{{ item.price }}</span>
																			</div>
																		</div>
																	</div>
																</a>
													</template>
                            
                      </div>
                    </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--////////////////////////////////////Footer-->
		<footer style="border-top: 0px solid #bbb;margin-top: 0px;">
			<div class="zerogrid wrap-footer">
          <div class="copyright">
              本页面所显示的价格均为原价
            </div>
				<div class="copyright">
					Copyright @ - Reason Tabletop Role-playing Game Club
        </div>
        
			</div>
		</footer>
		<!-- carousel -->
		<script src="owl-carousel/owl.carousel.js"></script>
		<script>
		$(document).ready(function() {
		  $("#owl-slide").owlCarousel({
			autoPlay: 3000,
			items : 1,
			itemsDesktop : [1199,1],
			itemsDesktopSmall : [979,1],
			itemsTablet : [768, 1],
			itemsMobile : [479, 1],
			navigation: true,
			navigationText: ['<i class="fa fa-chevron-left fa-5x"></i>', '<i class="fa fa-chevron-right fa-5x"></i>'],
			pagination: false
		  });
		});
		</script>
		<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
		<script>
			var gallery = new Vue({
				el: '#gallery',
				data: {
					first_col: [
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face2/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20200503172127.jpg',
							name: '面剧',
							players: '5',
							price: '108',
							background: '郊外的一个度假村在十几年前因为经营赌博生意被查封，一直沉寂的建筑终于等来了它的新生。每个人都在戴着面具出演人生的剧目，每个人都在为了自己和别人扮演者某个形象。每个人的面具之下，到底隐藏着什么样的嘴脸……',
							type: '本格 还原推理',
							feature:'故事线多 手法精细'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face2/%E5%8C%97%E5%9B%BD%E4%B9%8B%E6%98%A5.jpg',
							name: '北国之春',
							players: '6',
							price: '108',
							background: '在北乌克兰的一个边陲小镇上，雨夜中的小酒馆里坐着性感的女人，酒鬼老兵和挥起锄头的农妇，在这个特殊的日子里，爱摸女人屁股的男人和被吓尿裤子的女人突然打了起来 ，到底在这个酒馆里发生了什么故事呢？',
							type: '欢乐 撕逼',
							feature:'酒馆撕逼'
						}
						
					],
					second_col: [
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face/%E8%97%8F%E5%B1%B1%E9%9B%AA.jpg',
							name: '藏山雪',
							players: '7',
							price: '108',
							background: '南迦巴瓦西马了山脉中沉睡的圣地，无人知晓这座圣山，埋藏着多少秘密。藏山雪就藏在旗山之间的，有一个美丽湖泊就是“南迦巴瓦的眼泪 ”——天明神湖”，然而关于南迦巴瓦的眼泪的原因还有一个神秘的传说。',
							type: '本格推理 还原',
							feature:'故事线 大体量'
						},
					
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face/%E6%89%80%E7%BD%97%E9%97%A8%E7%9A%84%E5%BE%8B%E6%B3%95.png',
							name: '所罗门的律法',
							players: '5',
							price: '108',
							background: '日本当红女星月见里优子惨死家中，迫于舆论的发酵与来自上层的压力，一场特殊的庭审便拉开了帷幕……<br>检察官与律师的交锋，酣畅淋漓的唇枪舌剑，异议与肃静来往于法庭之上，空气中仿佛弥漫着看不见的硝烟，对于你们所有人来说，这是一场不见血的战争……',
							type: '本格、日式、进阶',
							feature:'庭审机制、真人演绎搜证'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face2/jiayan.jpg',
							name: '家宴',
							players: '6',
							price: '108',
							background: '热热闹闹的年夜饭 一家人就要整整齐齐团团圆圆 相亲相爱的一家人坐在一起唠唠家常 喝喝小酒 说说去年村里的那些琐碎小事',
							type: '欢乐 撕逼',
							feature:'一家人年夜饭'
						}
					],
					third_col: [
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face2/%E7%99%BD%E6%97%A5%E5%AD%A4%E7%87%88.jpg',
							name: '白日孤灯',
							players: '7',
							price: '108',
							background: '警方接到报案，静心堂公司老板闫静在自己的办公室内被杀害。不知为何，这起命案引起了警队高层的注意，7天之内抓捕凶手。高度还原真实刑侦过程，你们的每一次行动，都可能影响到案情的发展。你们能在规定时间内，抓到凶手吗？',
							type: '现代 解密',
							feature:'警察办案'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face2/qiang.jpg',
							name: '枪',
							players: '6',
							price: '108',
							background: '香港，自1898年英国殖民以来鱼龙混杂黑道猖獗，1997年香港回归在即，然而就在5月2日，大埔海滨公园发现了香港警务处总警司黄伟华的尸体。为此重案组之虎曹达华立案调查，然而调查时发现很多疑点而且调查时有很多的阻力。警局内部也并非清白，有若干势力渗入。如此内忧外患之下，如何抓到凶手成为一道难解之题',
							type: '跑团 拍凶',
							feature:'现代 人性体现'
						}
						
						
					]
				},
				methods: {
					showinfo(x,y,z,p,q) {
						Swal.fire({
							html:
							`<br>
							<h1 style="color: #333;">` + x + `<h1>
							
							<br>
							<div style="display:flex; align-items: center; justify-content: space-between;">
								<div style="width: 100%;  text-align: left; color: #333;">
									<h4>类型：</h4>
									<h5>` + y + `<h5>
									<br>
									<h4>特色：</h4>
									<h5>` + z + `<h5>
									<br>
									<h4>简介：</h4>
									<h5>` + p + `<h5>
								</div>
								<img src="` + q + `" width="45%" height="auto" >
							</div>
							`,
							confirmButtonText: '关闭',
							// background: '#fff url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1590486827412&di=37722becb90d6df4e25e00fa78878ac2&imgtype=0&src=http%3A%2F%2Fdpic.tiankong.com%2Fa5%2F51%2FQJ6273065730.jpg%3Fx-oss-process%3Dstyle%2Fshow)',
							confirmButtonColor: '#555'
						});
					}
				},
			})
		</script>
	</div>
</body>
</html>
