<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>REASON</title>
	<meta name="description" content="Free Responsive Html5 Css3 Templates">
	<meta name="author" content="">
	
    <!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- CSS
	================================================== -->
  	<link rel="stylesheet" href="https://ccreason.oss-cn-beijing.aliyuncs.com/websource/css/zerogrid.css">
	<link rel="stylesheet" href="https://ccreason.oss-cn-beijing.aliyuncs.com/websource/css/style.css">
	
	<!-- Custom Fonts -->
<!--    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->
	
	
	<link rel="stylesheet" href="https://ccreason.oss-cn-beijing.aliyuncs.com/websource/css/menu.css">
	<script src="https://ccreason.oss-cn-beijing.aliyuncs.com/websource/js/jquery1111.min.js" type="text/javascript"></script>
	<script src="https://ccreason.oss-cn-beijing.aliyuncs.com/websource/js/script.js"></script>
	
	<!-- Owl Carousel Assets -->
    <link href="https://ccreason.oss-cn-beijing.aliyuncs.com/websource/owl-carousel/owl.carousel.css" rel="stylesheet">
	
	<!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/Items/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
		<script src="js/html5.js"></script>
		<script src="js/css3-mediaqueries.js"></script>
	<![endif]-->
	<link href="https://cdn.bootcdn.net/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.css" rel="stylesheet">
	<style>
		.has-sub ul li {
			max-width: 137px;
		}
		#cssmenu {
			z-index: 20;
		}
	</style>
			<script src="https://cdn.bootcdn.net/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.js"></script>

</head>

<body>
	<div class="wrap-body">
		
		<header class="main-header">
			<div class="zerogrid">
				<!--Top-->
				<div class="t-center">
					<a class="site-branding" href="index.html">
						<img src="https://ccreason.oss-cn-beijing.aliyuncs.com/websource/images/nlogo.png" width="300px"/>	
					</a><!-- .site-branding -->
					
					<!-- Menu-main -->
					<div id="cssmenu" class="align-center">
						<ul>
              <li><a href="index.html"><span>Home</span></a></li>
              <li><a href='5-.html'><span>5-</span></a></li>
              <li><a href='6.html'><span>6</span></a></li>
              <li><a href='7.html'><span>7</span></a></li>
							<li class='last'><a href='8+.html'><span>8+</span></a></li>
							<li class=" has-sub"><a href="#"><span>价格筛选</span></a>
							  <ul>
								 <li class="active"><a href="58.html"><span style="font-size: 19px;">58</span></a></li>
								 <li><a href="68.html"><span style="font-size: 19px;">68</span></a></li>
								 <li><a href="78.html"><span style="font-size: 19px;">78</span></a></li>
								 <li><a href="88.html"><span style="font-size: 19px;">88</span></a></li>
								 <li><a href="98+.html"><span style="font-size: 19px;">98+</span></a></li>
							  </ul>
						   </li>
           </ul>
					</div>
				</div>
			</div>
		</header>
		
		<!--////////////////////////////////////Container-->
		<section id="container">
			<div class="wrap-container">
				<div id="main-content">
					<div class="wrap-content">
						<div class="zerogrid">
							<div class="row" id="gallery">
                <!-- 111111111111111111111111111 -->
								<div class="col-1-3">
									<div class="wrap-col">
												
											<template v-for="item in first_col">
													<a @click="showinfo(item.name,item.type,item.feature,item.background,item.face_img)" class="portfolio-box zoom-effect">
															<img :src="item.face_img" class="img-responsive" alt="">
															<div class="portfolio-box-caption">
																<div class="portfolio-box-caption-content">
																	<div class="project-name">
																		<span>#{{ item.name }}</span>
																	</div>
																	<div class="project-name">
																		<span>{{ item.players }}*{{ item.price }}</span>
																	</div>
																</div>
															</div>
														</a>
											</template>

									</div>
                </div>
                <!-- 222222222222222222222222222222222 -->
                <div class="col-1-3">
                    <div class="wrap-col">

												<template v-for="item in second_col">
														<a @click="showinfo(item.name,item.type,item.feature,item.background,item.face_img)" class="portfolio-box zoom-effect">
																<img :src="item.face_img" class="img-responsive" alt="">
																<div class="portfolio-box-caption">
																	<div class="portfolio-box-caption-content">
																		<div class="project-name">
																			<span>#{{ item.name }}</span>
																		</div>
																		<div class="project-name">
																			<span>{{ item.players }}*{{ item.price }}</span>
																		</div>
																	</div>
																</div>
															</a>
												</template>
                          
                    </div>
                  </div>
                  <!-- 333333333333333333333333333333333 -->
                  <div class="col-1-3">
                      <div class="wrap-col">

													<template v-for="item in third_col">
															<a @click="showinfo(item.name,item.type,item.feature,item.background,item.face_img)" class="portfolio-box zoom-effect">
																	<img :src="item.face_img" class="img-responsive" alt="">
																	<div class="portfolio-box-caption">
																		<div class="portfolio-box-caption-content">
																			<div class="project-name">
																				<span>#{{ item.name }}</span>
																			</div>
																			<div class="project-name">
																				<span>{{ item.players }}*{{ item.price }}</span>
																			</div>
																		</div>
																	</div>
																</a>
													</template>
                            
                      </div>
                    </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--////////////////////////////////////Footer-->
		<footer style="border-top: 0px solid #bbb;margin-top: 0px;">
			<div class="zerogrid wrap-footer">
          <div class="copyright">
              本页面所显示的价格均为原价
            </div>
				<div class="copyright">
					Copyright @ - Reason Tabletop Role-playing Game Club
        </div>
        
			</div>
		</footer>
		<!-- carousel -->
		<script src="owl-carousel/owl.carousel.js"></script>
		<script>
		$(document).ready(function() {
		  $("#owl-slide").owlCarousel({
			autoPlay: 3000,
			items : 1,
			itemsDesktop : [1199,1],
			itemsDesktopSmall : [979,1],
			itemsTablet : [768, 1],
			itemsMobile : [479, 1],
			navigation: true,
			navigationText: ['<i class="fa fa-chevron-left fa-5x"></i>', '<i class="fa fa-chevron-right fa-5x"></i>'],
			pagination: false
		  });
		});
		</script>
		<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
		<script>
			var gallery = new Vue({
				el: '#gallery',
				data: {
					first_col: [
            
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face/%E7%AA%A5%E9%95%9C.jpg',
							name: '窥镜',
							players: '4',
							price: '78',
							background: '大富豪王楚帆突然对外宣布，他将会在自家庄园举办一场化妆舞会，届时将确定自己的遗产分配，邀请许多熟识的朋友参加。王楚帆的子女们究竟是谁？如此大的财富又会归属何处？这场化妆舞会的主角们，也陆续登场',
							type: '推理还原',
							feature:'化装舞会分家产'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face2/falaodexuexing.jpg',
							name: '法老的血刑',
							players: '6',
							price: '78',
							background: '阴谋，权位，杀戮法老站在权力金字塔的顶端，是神的化身，具有绝对的权力。广袤的黄沙，雄浑静穆的埃及黄沙里究竟埋藏着多少的秘密，',
							type: '机制 还原',
							feature:'埃及金字塔背景'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face2/tangxiaheren.jpg',
							name: '堂下何人',
							players: '8',
							price: '78',
							background: '白骨露于野,千里无鸡鸣。生民百遗一,念之断人肠。大明已濒临枯朽,佳节渐近,山脚村落却人烟稀薄,毫无筹备佳节的样子',
							type: '演绎 还原',
							feature:'古代 人性体现'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face/%E8%92%99%E8%BD%BB%E7%BA%B1%E7%9A%84%E5%A4%84%E5%A5%B3.jpg',
							name: '蒙轻纱的处女',
							players: '6',
							price: '78',
							background: '蒙轻纱的圣女啊，肉体肌理的质感，在纯白的薄纱之下，朦胧又动人心魄。白白的婚纱，冷冷的尸体……',
							type: '情感 拍凶',
							feature:'人性体现'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face/%E6%9D%9C%E9%B9%83%E8%A1%80.png',
							name: '杜鹃血',
							players: '7',
							price: '78',
							background: '许是成情无后所致，而今的他醉心女色，并开始广纳嫔妃。成帝无嗣，皇家无后可是一桩大事。但除却朝堂的暗潮涌动，民间自是一番歌舞升平。可谁又知道眼前的歌舞升平，是多少暗潮涌动下的风平浪静呢?',
							type: '拍凶 还原',
							feature:'古代 人性体现'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face2/guiqimaxituan.jpeg',
							name: '诡奇马戏团',
							players: '7',
							price: '78',
							background: '女士们先生们！欢迎光临诡奇马戏团！ 在这里你可以欣赏到很多奇异的表演：神秘恐怖的魔术、连体双子二重唱、不可思议的杂技、惊心动魄的驯兽、滑稽有趣的小丑、袖珍少女的戏法以及诡奇的畸形秀。今天，你想看点什么呢？',
							type: '还原 推凶',
							feature:'马戏团背景'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face/%E6%B2%A7%E6%B5%B7%E9%81%97%E7%8F%A0.jpg',
							name: '沧海遗珠',
							players: '8',
							price: '78',
							background: '海城里，有着两家顶尖集团，一家是耿氏集团，一家是云氏集团。2017年8月8日。今晚再耿宅内发生了ー起谋杀案，死者是耿氏集团的副总裁秦沧海，耿家的大儿媳，死亡地点是自己的卧室。今晚在耿宅里一共有七个嫌疑人，耿世诚认为有人从秦沧海手里拿走了耿氏的机密文件，所以在找到凶手前，谁也不能离开',
							type: '拍凶 还原',
							feature:'现代 人性体现'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/12432345.jpg',
							name: '狼人之血',
							players: '7-8',
							price: '78',
							background: '在一个宁静的小村落，村民惨死，是狼人出没？还是人为谋杀？当一个狩魔猎人踏进这个小村落时，这里的一切还笼罩着更为可怕的秘密…',
							type: '魔幻',
							feature:'西方魔幻题材'
						}
					],
					second_col: [
						
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face/I%20Do.jpg',
							name: 'I Do',
							players: '5',
							price: '78',
							background: '这一生 什么才是爱情最美好的样子 在爱情里的你 是忠于爱情 还是忠于生活 婚礼前夕 暗流涌动 到底是谁找到了爱情的真谛',
							type: '本格 感情',
							feature:'现代感情'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face/%E6%96%B0%E5%B1%8B.jpg',
							name: '新屋',
							players: '6',
							price: '78',
							background: '新春佳节时的小区，热气腾腾的饺子，不断响起的电话。在这一天人们都忙碌起来，杀鸡宰鹅。屋里洋溢着大家欢笑的声音，看着电视机的春节联欢晚会。',
							type: '还原拍凶',
							feature:'一家人年夜饭'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face/%E8%80%81%E6%A7%90%E6%A0%91.png',
							name: '老槐树',
							players: '6',
							price: '78',
							background: '在一个快乐的小村庄里生活着一堆快乐的小人 突然有一天这些小人不快乐了 身边居然接连出现死人 下一个会不会是自己呢 为什么村里的寡妇心事重重 七旬老头为何每天洋溢着幸福的笑容 这个小村庄到底发生了什么事？',
							type: '还原',
							feature:'有趣的故事'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face2/guimixinqiao.jpg',
							name: '鬼迷心窍',
							players: '5',
							price: '78',
							background: '清朝末年，动荡混乱，民不聊生，纷繁动荡的年代，各种光怪陆离、世俗罕见的事情也都变得见怪不怪。今天我们说的故事就是关于四名学子在客栈里的故事……',
							type: '微恐 拍凶',
							feature:'古代 人性体现'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face/%E8%AE%B0%E5%BF%86%E7%A2%8E%E7%89%87.png',
							name: '记忆碎片',
							players: '7',
							price: '78',
							background: '无',
							type: '新机制 还原',
							feature:'无本游戏'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face2/huapingjiushi.jpeg',
							name: '华平旧事',
							players: '7',
							price: '78',
							background: '上海，民国时期中国最繁华的城市。这里是虚与委蛇的名利圈，是声色犬马的不夜城，是风云动荡的角斗场，亦是小人物逆袭奋斗的传奇地。的黑暗即将拉开争斗的帷幕，罪恶的种子也已在人心生根发芽。郭家的前途又将如何？上海滩的命运又将如何？',
							type: '本格推理',
							feature:'大时间线还原'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face2/gongxinji.jpg',
							name: '宫心计',
							players: '9',
							price: '78',
							background: '在齐国内那狭小的后宫中，皇帝命不久矣，人心蠢动之时，各方暗流涌动，一群女人为了自己的命运，勾心斗角，尔虞我诈，在这精致的牢笼中挣扎着。谁最后能脱颖而出呢？',
							type: '古代 夺宝',
							feature:'九个女人一台戏'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/566666.jpg',
							name: '禁锢之塔',
							players: '7',
							price: '78',
							background: '',
							type: '',
							feature:''
						},
					],
					third_col: [
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face/%E7%BA%AF%E6%83%85%E5%A4%AA%E7%9B%91%E4%BF%8F%E7%9A%87%E5%B8%9D.jpg',
							name: '纯情太监俏皇帝',
							players: '5',
							price: '78',
							background: '在俊国，俏帝即将大婚亲政，不料新皇后过门前一日，被一纸圣旨赐死相国府中，老相国悲痛欲绝，于早朝击鼓鸣冤。百官群愤，早朝不给老相国一个交代怕是会动摇国本…',
							type: '古代 欢乐',
							feature:'早朝演绎 背景独特'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face/%E9%80%90%E6%A2%A6%E6%BC%94%E8%89%BA%E5%9C%88.jpg',
							name: '逐梦演艺圈',
							players: '9-10',
							price: '78',
							background: 'MILO组合成员方芳全裸死在酒店的浴缸里，房间又被翻动过的痕迹，一枚价值连城的蓝宝石戒指不翼而飞，酒店的监控被人为关闭，凶手究竟是谁？',
							type: '撕逼拍凶',
							feature:'现代 人性体现'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face/%E8%A2%96%E7%8F%8D%E9%AA%91%E5%A3%AB%E4%B9%8B%E6%AD%BB.jpg',
							name: '袖珍骑士之死',
							players: '6',
							price: '78',
							background: '你们是S市的学生，今天聚会来到S市的一个剧本店，你们选择的是一个中世纪骑士对决的剧本，但随着游戏的进行，每个人都想到了一些让自己无法忘怀的回忆……有人说，剧本游戏，一辈子只能玩一次。人生呐，有些时候，错一次也是一辈子……',
							type: '情感沉浸 拍凶',
							feature:'现代 人性体现'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face2/jiayongdianqi.jpg',
							name: '家用电器杀人事件',
							players: '6',
							price: '78',
							background: '在万物互联的时代，几乎所有智能电子终端都具备储存与分析信息能力，终于有一天，智能家电们在电流与物联网的刺激下，逐步觉醒…皮皮卡，一个资深程序员，发现了这一现象，经过一个月的奋斗，终于研发出能与电器交流的软件。没想到就在这时，一部手机向皮皮卡发出了求救…',
							type: '奇幻 脑洞',
							feature:'电器杀人'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face/%E6%98%A5%E5%A4%A9%E9%AB%98%E6%A0%A1.jpg',
							name: '春天高校',
							players: '7',
							price: '78',
							background: '城郊的贵族学校，拥有严格的管理制度，也是问题学生的集中营。随着莫名的一场爆炸，食堂的坍塌，师生七人死里逃生汇集在了人防洞内，随着老师点名的开始…多了一个？还是少了一个？食堂？教学楼？宿舍区？伴随着探索的深入，一具具尸体被发现，凶手就隐藏在我们中间…春天高校，你来过吗？只记得一个幽幽的声音在你耳边呢喃：你还记得我吗？',
							type: '还原 推凶',
							feature:'学校那些事'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face/%E8%BF%AA%E8%B5%9B%E6%99%AE.png',
							name: '迪赛普',
							players: '7',
							price: '78',
							background: '悠悠转转，脑子昏沉沉。环绕四周，旁边一圈蜡烛，身处诡异阵法……迪赛普教派一年一度的洗礼日，八名信徒被选中参加洗礼，其中一位信徒却惨死在仪式上，迪赛普大祭司震怒宣布神谕：如果你们不能找到凶手，至高存在将亲自惩戒你们！',
							type: '拍凶 还原',
							feature:'西欧 人性体现'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face2/xungouren.jpg',
							name: '驯狗人',
							players: '8',
							price: '78',
							background: '今日，在Y岛举行了一场全球性范围的驯狗比赛，第一轮比赛后，驯狗师王玺技压群雄，就在晚上9点钟，王玺被发现死在了房间中…',
							type: '现代',
							feature:'重口味'
						}
					]
				},
				methods: {
					showinfo(x,y,z,p,q) {
						Swal.fire({
							html:
							`<br>
							<h1 style="color: #333;">` + x + `<h1>
							
							<br>
							<div style="display:flex; align-items: center; justify-content: space-between;">
								<div style="width: 100%;  text-align: left; color: #333;">
									<h4>类型：</h4>
									<h5>` + y + `<h5>
									<br>
									<h4>特色：</h4>
									<h5>` + z + `<h5>
									<br>
									<h4>简介：</h4>
									<h5>` + p + `<h5>
								</div>
								<img src="` + q + `" width="45%" height="auto" >
							</div>
							`,
							confirmButtonText: '关闭',
							// background: '#fff url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1590486827412&di=37722becb90d6df4e25e00fa78878ac2&imgtype=0&src=http%3A%2F%2Fdpic.tiankong.com%2Fa5%2F51%2FQJ6273065730.jpg%3Fx-oss-process%3Dstyle%2Fshow)',
							confirmButtonColor: '#555'
						});
					}
				},
			})
		</script>
	</div>
</body>
</html>
