<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>REASON</title>
	<meta name="description" content="Free Responsive Html5 Css3 Templates">
	<meta name="author" content="">
	
    <!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- CSS
	================================================== -->
  	<link rel="stylesheet" href="https://ccreason.oss-cn-beijing.aliyuncs.com/websource/css/zerogrid.css">
	<link rel="stylesheet" href="https://ccreason.oss-cn-beijing.aliyuncs.com/websource/css/style.css">
	
	<!-- Custom Fonts -->
<!--    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->
	
	
	<link rel="stylesheet" href="https://ccreason.oss-cn-beijing.aliyuncs.com/websource/css/menu.css">
	<script src="https://ccreason.oss-cn-beijing.aliyuncs.com/websource/js/jquery1111.min.js" type="text/javascript"></script>
	<script src="https://ccreason.oss-cn-beijing.aliyuncs.com/websource/js/script.js"></script>
	
	<!-- Owl Carousel Assets -->
    <link href="https://ccreason.oss-cn-beijing.aliyuncs.com/websource/owl-carousel/owl.carousel.css" rel="stylesheet">
	
	<!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/Items/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
		<script src="js/html5.js"></script>
		<script src="js/css3-mediaqueries.js"></script>
	<![endif]-->
	<link href="https://cdn.bootcdn.net/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.css" rel="stylesheet">
	<style>
		.has-sub ul li {
			max-width: 137px;
		}
		#cssmenu {
			z-index: 20;
		}
	</style>
			<script src="https://cdn.bootcdn.net/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.js"></script>

</head>

<body>
	<div class="wrap-body">
		
		<header class="main-header">
			<div class="zerogrid">
				<!--Top-->
				<div class="t-center">
					<a class="site-branding" href="index.html">
						<img src="https://ccreason.oss-cn-beijing.aliyuncs.com/websource/images/nlogo.png" width="300px"/>	
					</a><!-- .site-branding -->
					
					<!-- Menu-main -->
					<div id="cssmenu" class="align-center">
						<ul>
              <li><a href="index.html"><span>Home</span></a></li>
              <li><a href='5-.html'><span>5-</span></a></li>
              <li class="active"><a href='6.html'><span>6</span></a></li>
              <li><a href='7.html'><span>7</span></a></li>
							<li class='last'><a href='8+.html'><span>8+</span></a></li>
							<li class=" has-sub"><a href="#"><span>价格筛选</span></a>
							  <ul>
								 <li><a href="58.html"><span style="font-size: 19px;">58</span></a></li>
								 <li><a href="68.html"><span style="font-size: 19px;">68</span></a></li>
								 <li><a href="78.html"><span style="font-size: 19px;">78</span></a></li>
								 <li><a href="88.html"><span style="font-size: 19px;">88</span></a></li>
								 <li><a href="98+.html"><span style="font-size: 19px;">98+</span></a></li>
							  </ul>
						   </li>
           </ul>
					</div>
				</div>
			</div>
		</header>
		
		<!--////////////////////////////////////Container-->
		<section id="container">
			<div class="wrap-container">
				<div id="main-content">
					<div class="wrap-content">
						<div class="zerogrid">
							<div class="row" id="gallery">
                <!-- 111111111111111111111111111 -->
								<div class="col-1-3">
									<div class="wrap-col">
												
											<template v-for="item in first_col">
													<a @click="showinfo(item.name,item.type,item.feature,item.background,item.face_img)" class="portfolio-box zoom-effect">
															<img :src="item.face_img" class="img-responsive" alt="">
															<div class="portfolio-box-caption">
																<div class="portfolio-box-caption-content">
																	<div class="project-name">
																		<span>#{{ item.name }}</span>
																	</div>
																	<div class="project-name">
																		<span>{{ item.players }}*{{ item.price }}</span>
																	</div>
																</div>
															</div>
														</a>
											</template>

									</div>
                </div>
                <!-- 222222222222222222222222222222222 -->
                <div class="col-1-3">
                    <div class="wrap-col">

												<template v-for="item in second_col">
														<a @click="showinfo(item.name,item.type,item.feature,item.background,item.face_img)" class="portfolio-box zoom-effect">
																<img :src="item.face_img" class="img-responsive" alt="">
																<div class="portfolio-box-caption">
																	<div class="portfolio-box-caption-content">
																		<div class="project-name">
																			<span>#{{ item.name }}</span>
																		</div>
																		<div class="project-name">
																			<span>{{ item.players }}*{{ item.price }}</span>
																		</div>
																	</div>
																</div>
															</a>
												</template>
                          
                    </div>
                  </div>
                  <!-- 333333333333333333333333333333333 -->
                  <div class="col-1-3">
                      <div class="wrap-col">

													<template v-for="item in third_col">
															<a @click="showinfo(item.name,item.type,item.feature,item.background,item.face_img)" class="portfolio-box zoom-effect">
																	<img :src="item.face_img" class="img-responsive" alt="">
																	<div class="portfolio-box-caption">
																		<div class="portfolio-box-caption-content">
																			<div class="project-name">
																				<span>#{{ item.name }}</span>
																			</div>
																			<div class="project-name">
																				<span>{{ item.players }}*{{ item.price }}</span>
																			</div>
																		</div>
																	</div>
																</a>
													</template>
                            
                      </div>
                    </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--////////////////////////////////////Footer-->
		<footer style="border-top: 0px solid #bbb;margin-top: 0px;">
			<div class="zerogrid wrap-footer">
          <div class="copyright">
              本页面所显示的价格均为会员价
            </div>
				<div class="copyright">
					Copyright @ - Reason Tabletop Role-playing Game Club
        </div>
        
			</div>
		</footer>
		<!-- carousel -->
		<script src="owl-carousel/owl.carousel.js"></script>
		<script>
		$(document).ready(function() {
		  $("#owl-slide").owlCarousel({
			autoPlay: 3000,
			items : 1,
			itemsDesktop : [1199,1],
			itemsDesktopSmall : [979,1],
			itemsTablet : [768, 1],
			itemsMobile : [479, 1],
			navigation: true,
			navigationText: ['<i class="fa fa-chevron-left fa-5x"></i>', '<i class="fa fa-chevron-right fa-5x"></i>'],
			pagination: false
		  });
		});
		</script>
		<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
		<script>
			var gallery = new Vue({
				el: '#gallery',
				data: {
					first_col: [
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face/%E6%9C%AA%E7%9F%A5%E6%97%85%E7%A8%8B.png',
							name: '未知旅程',
							players: '6',
							price: '78',
							background: '韩国安东市的河回村是一个历史古村，河回村有一个习俗“河回别神假面舞会”。每到旧正日（韩国新年）前夜，村民以及外来人都会带上面具，在村里跳舞直至深夜，气氛异常诡异，但村民对原因避而不提。然而今天正是旧正日前夜，年迈的东大药业高层带着一些人来到这里……',
							type: '恐怖 还原 拍凶',
							feature:'现代 人性体现'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face2/jiayan.jpg',
							name: '家宴',
							players: '6',
							price: '88',
							background: '热热闹闹的年夜饭 一家人就要整整齐齐团团圆圆  相亲相爱的一家人坐在一起唠唠家常 喝喝小酒 说说去年村里的那些琐碎小事',
							type: '欢乐 撕逼',
							feature:'一家人年夜饭'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face/%E6%96%B0%E5%B1%8B.jpg',
							name: '新屋',
							players: '6',
							price: '58',
							background: '新春佳节时的小区，热气腾腾的饺子，不断响起的电话。在这一天人们都忙碌起来，杀鸡宰鹅。屋里洋溢着大家欢笑的声音，看着电视机的春节联欢晚会。',
							type: '还原拍凶',
							feature:'一家人年夜饭'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face2/yushengyetan.jpeg',
							name: '羽生夜谈',
							players: '6',
							price: '68',
							background: '昭和54年，日本某市郊外的和川山中有一大湖名为羽生。湖畔屹立着一座拥有百年历史的神社⛩️，神社内供奉着药神以及众多保佑孩童健康成长的人偶。当月色笼罩和川之上，众人围坐于莹莹烛火旁，有谁可知即将到来的是什么？',
							type: '恐怖 日韩',
							feature:'日韩恐怖故事'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/wangyueguanshijian.jpeg',
							name: '望月馆事件',
							players: '6',
							price: '98',
							background: '一个名为真理教的神秘宗教团体，据说你只要向其信奉的真神虔诚祈愿，便可如愿以偿。在两年前当选的圣女，是著名娱乐公司 Star Echo的当红女星林曦芝，她自从获封圣女，工作事业可谓蒸蒸日上。然而林曦芝正处于上升期之时，却突然传出了意外身亡的消息。真理教为了稳住局面，宣称林曦芝生前为真理教鞠躬尽瘁，逝去后她的灵魂将在真神的庇佑下得以永存',
							type: '烧脑',
							feature:'现代 人性体现'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face2/%E7%BE%BD%E7%94%9F%E5%A4%9C%E8%B0%882.jpg',
							name: '羽生夜谈2',
							players: '6',
							price: '68',
							background: '一个神秘的社团，受邀的6位社团成员前往偏远的和川山内，羽生湖畔旁那座荒废了十年之久的知名闹鬼神社--平安神社，进行了一场百物语的招鬼游戏。',
							type: '恐怖 日韩 现代',
							feature:'日韩恐怖故事'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/b392d24f8c08e5d4e05dbbb227cae64.jpg',
							name: '龙傲天你死定了',
							players: '6',
							price: '78',
							background: '高大帅气有车有房的龙傲天，突然得了乳腺癌，看破红尘想将十亿遗产找人继承，众人抵挡不住龙傲天风流倜傥英俊潇洒的魅力，为了得到他的宠爱，互相斗法。',
							type: '撕逼 欢乐',
							feature:'现代 中二 后宫欢乐'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/21d30f3e26178f863fa1bcdf5bd64b5.jpg',
							name: '宿醉',
							players: '6',
							price: '78',
							background: '几个青年男女在宿醉中醒来 发现大家都和往常不太一样 非主流“葬爱纹身”“粉色大鸡冠头”还有人心里有些奇异的感觉 但相同的是 大家都晕晕沉沉的记得一些片断性的记忆 到底昨晚发生了什么？',
							type: '推理 撕逼',
							feature:' 宿醉 还原记忆'
						}
					],
					second_col: [
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face/%E8%80%81%E6%A7%90%E6%A0%91.png',
							name: '老槐树',
							players: '6',
							price: '58',
							background: '在一个快乐的小村庄里生活着一堆快乐的小人 突然有一天这些小人不快乐了 身边居然接连出现死人 下一个会不会是自己呢 为什么村里的寡妇心事重重 七旬老头为何每天洋溢着幸福的笑容 这个小村庄到底发生了什么事？',
							type: '还原',
							feature:'有趣的故事'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face/%E8%92%99%E8%BD%BB%E7%BA%B1%E7%9A%84%E5%A4%84%E5%A5%B3.jpg',
							name: '蒙轻纱的处女',
							players: '6',
							price: '58',
							background: '蒙轻纱的圣女啊，肉体肌理的质感，在纯白的薄纱之下，朦胧又动人心魄。白白的婚纱，冷冷的尸体……',
							type: '情感 拍凶',
							feature:'人性体现'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face/%E7%AA%97%E8%BE%B9%E7%9A%84%E5%A5%B3%E4%BA%BA.jpg',
							name: '窗边的女人',
							players: '6',
							price: '68',
							background: '夜深，电脑想起了提示音。我习惯性正要关闭，却发现是我一直关注的论坛，本能的好奇让我打开这个很久没有更新的论坛，却发现今天异常活跃。看了看日历，原来已经10年了，那起未了结的碎尸案到现在已经10年了。她，在地下还好吗？',
							type: '还原',
							feature:'真实案件改编'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face2/baiyin.jpeg',
							name: '白银',
							players: '6',
							price: '88',
							background: '本剧本改编自甘肃省白银市连环杀人案，从1988年至2002年的14年间，在中国甘肃省白银市有11名女性惨遭入室杀害的案件，部分受害人曾遭受性侵害。凶手专挑年轻女性下手，作案手段残忍，极具隐蔽性，造成巨大的社会恐慌。',
							type: '还原 推凶',
							feature:'真实案件改编'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face2/xinlijiaocui.jpeg',
							name: '心力交瘁',
							players: '6',
							price: '128',
							background: '',
							type: '',
							feature:''
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face2/xueren.jpg',
							name: '雪人',
							players: '6',
							price: '68',
							background: ' 纯白的世界里，你们凝视着彼此的脸庞。身躯与脸庞皆是白雪，伸出手来，却只见到两根短短的柴棒。“难道我们永远只能做雪人？”“我们要离开这个见鬼的地好呀，好呀。命运之神在帷声发笑。你们可以离开，只是要付出一定的代价。',
							type: '变格推理',
							feature:'脑洞 想象力丰富'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face2/qiang.jpg',
							name: '枪',
							players: '6',
							price: '88',
							background: '香港，自1898年英国殖民以来鱼龙混杂黑道猖獗，1997年香港回归在即，然而就在5月2日，大埔海滨公园发现了香港警务处总警司黄伟华的尸体。为此重案组之虎曹达华立案调查，然而调查时发现很多疑点而且调查时有很多的阻力。警局内部也并非清白，有若干势力渗入。如此内忧外患之下，如何抓到凶手成为一道难解之题',
							type: '跑团 拍凶',
							feature:'现代 人性体现'
						}
					],

					third_col: [
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face/%E8%A2%96%E7%8F%8D%E9%AA%91%E5%A3%AB%E4%B9%8B%E6%AD%BB.jpg',
							name: '袖珍骑士之死',
							players: '6',
							price: '58',
							background: '你们是S市的学生，今天聚会来到S市的一个剧本店，你们选择的是一个中世纪骑士对决的剧本，但随着游戏的进行，每个人都想到了一些让自己无法忘怀的回忆……有人说，剧本游戏，一辈子只能玩一次。人生呐，有些时候，错一次也是一辈子……',
							type: '情感沉浸 拍凶',
							feature:'现代 人性体现'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face/%E8%B4%B9%E9%A9%AC%E7%9A%84%E5%AE%A1%E5%88%A4.jpg',
							name: '费马的审判',
							players: '6',
							price: '78',
							background: '数学家费马在一部著作的角落里写下了一个结论和一段文字：“我有一个对此命题十分优美的证明，可惜这里空白太小，我写不下了。”这恶作剧般的一句话吸引着无数学者前赴后继，费马证明其定理的手稿，突然现世，往日里平静如水的公馆一下子热闹起来，惊涛拍岸，铅云蔽日，浓密湿热的空气正是酝酿阴谋的好时机。',
							type: '还原 拍凶',
							feature:'手法 计划完美'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face/%E6%9C%AA%E7%9F%A5%E7%9A%84%E5%AE%A2%E4%BA%BA.jpg',
							name: '未知客人',
							players: '6',
							price: '78',
							background: '韩国东大药业市是韩国最大的制药企业，迄今已有数十年的历史，但在外边光鲜之下隐藏了太多的肮脏交易。这天，东大药业首尔区总经理申恩庆的家里到访了几位客人，我们的故事从这个普通又怪诞的晚宴开始。',
							type: '现代 恐怖',
							feature:'韩国背景 微恐'
						
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face2/jiayongdianqi.jpg',
							name: '家用电器杀人事件',
							players: '6',
							price: '58',
							background: '在万物互联的时代，几乎所有智能电子终端都具备储存与分析信息能力，终于有一天，智能家电们在电流与物联网的刺激下，逐步觉醒…皮皮卡，一个资深程序员，发现了这一现象，经过一个月的奋斗，终于研发出能与电器交流的软件。没想到就在这时，一部手机向皮皮卡发出了求救…',
							type: '奇幻 脑洞',
							feature:'电器杀人!'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face2/daodaodao.jpg',
							name: '盗道倒',
							players: '6',
							price: '98',
							background: '昆仑山是天下龙脉的根源。龙蟠县禾母村位于昆仑山脚下，大大小小的古墓数都数不清。这里机关万重，险境横生。今日，几个年轻人来到此地，短暂的合作只因求生的本能，人性的阴暗处隐藏着杀机和阴谋，无底洞里无尽的囚禁，黑暗中未知的怪物潜伏在理智崩溃的边缘。诡异的哨子声再次响起，这次，又会是谁？',
							type: '机制 拍凶',
							feature:'盗墓题材'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face2/falaodexuexing.jpg',
							name: '法老的血刑',
							players: '6',
							price: '58',
							background: '阴谋，权位，杀戮法老站在权力金字塔的顶端，是神的化身，具有绝对的权力。广袤的黄沙，雄浑静穆的埃及黄沙里究竟埋藏着多少的秘密，',
							type: '机制 还原',
							feature:'埃及金字塔背景'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face2/%E5%8C%97%E5%9B%BD%E4%B9%8B%E6%98%A5.jpg',
							name: '北国之春',
							players: '6',
							price: '88',
							background: '在北乌克兰的一个边陲小镇上，雨夜中的小酒馆里坐着性感的女人，酒鬼老兵和挥起锄头的农妇，在这个特殊的日子里，爱摸女人屁股的男人和被吓尿裤子的女人突然打了起来 ，到底在这个酒馆里发生了什么故事呢？',
							type: '欢乐 撕逼',
							feature:'酒馆撕逼'
						}
					]
				},
				methods: {
					showinfo(x,y,z,p,q) {
						Swal.fire({
							html:
							`<br>
							<h1 style="color: #333;">` + x + `<h1>
							
							<br>
							<div style="display:flex; align-items: center; justify-content: space-between;">
								<div style="width: 100%;  text-align: left; color: #333;">
									<h4>类型：</h4>
									<h5>` + y + `<h5>
									<br>
									<h4>特色：</h4>
									<h5>` + z + `<h5>
									<br>
									<h4>简介：</h4>
									<h5>` + p + `<h5>
								</div>
								<img src="` + q + `" width="45%" height="auto" >
							</div>
							`,
							confirmButtonText: '关闭',
							// background: '#fff url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1590486827412&di=37722becb90d6df4e25e00fa78878ac2&imgtype=0&src=http%3A%2F%2Fdpic.tiankong.com%2Fa5%2F51%2FQJ6273065730.jpg%3Fx-oss-process%3Dstyle%2Fshow)',
							confirmButtonColor: '#555'
						});
					}
				},
			})
		</script>
	</div>
</body>
</html>
