<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>REASON</title>
	<meta name="description" content="Free Responsive Html5 Css3 Templates">
	<meta name="author" content="">
	
    <!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- CSS
	================================================== -->
  	<link rel="stylesheet" href="https://ccreason.oss-cn-beijing.aliyuncs.com/websource/css/zerogrid.css">
	<link rel="stylesheet" href="https://ccreason.oss-cn-beijing.aliyuncs.com/websource/css/style.css">
	
	<!-- Custom Fonts -->
<!--    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->
	
	
	<link rel="stylesheet" href="https://ccreason.oss-cn-beijing.aliyuncs.com/websource/css/menu.css">
	<script src="https://ccreason.oss-cn-beijing.aliyuncs.com/websource/js/jquery1111.min.js" type="text/javascript"></script>
	<script src="https://ccreason.oss-cn-beijing.aliyuncs.com/websource/js/script.js"></script>
	
	<!-- Owl Carousel Assets -->
    <link href="https://ccreason.oss-cn-beijing.aliyuncs.com/websource/owl-carousel/owl.carousel.css" rel="stylesheet">
	
	<!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/Items/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
		<script src="js/html5.js"></script>
		<script src="js/css3-mediaqueries.js"></script>
	<![endif]-->
	<link href="https://cdn.bootcdn.net/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.css" rel="stylesheet">
	<style>
		.has-sub ul li {
			max-width: 137px;
		}
		#cssmenu {
			z-index: 20;
		}
	</style>
			<script src="https://cdn.bootcdn.net/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.js"></script>

</head>

<body>
	<div class="wrap-body">
		
		<header class="main-header">
			<div class="zerogrid">
				<!--Top-->
				<div class="t-center">
					<a class="site-branding" href="index.html">
						<img src="https://ccreason.oss-cn-beijing.aliyuncs.com/websource/images/nlogo.png" width="300px"/>	
					</a><!-- .site-branding -->
					
					<!-- Menu-main -->
					<div id="cssmenu" class="align-center">
						<ul>
              <li><a href="index.html"><span>Home</span></a></li>
              <li><a href='5-.html'><span>5-</span></a></li>
              <li><a href='6.html'><span>6</span></a></li>
              <li class="active"><a href='7.html'><span>7</span></a></li>
							<li class='last'><a href='8+.html'><span>8+</span></a></li>
							<li class=" has-sub"><a href="#"><span>价格筛选</span></a>
							  <ul>
								 <li><a href="58.html"><span style="font-size: 19px;">58</span></a></li>
								 <li><a href="68.html"><span style="font-size: 19px;">68</span></a></li>
								 <li><a href="78.html"><span style="font-size: 19px;">78</span></a></li>
								 <li><a href="88.html"><span style="font-size: 19px;">88</span></a></li>
								 <li><a href="98+.html"><span style="font-size: 19px;">98+</span></a></li>
							  </ul>
						   </li>
           </ul>
					</div>
				</div>
			</div>
		</header>
		
		<!--////////////////////////////////////Container-->
		<section id="container">
			<div class="wrap-container">
				<div id="main-content">
					<div class="wrap-content">
						<div class="zerogrid">
							<div class="row" id="gallery">
                <!-- 111111111111111111111111111 -->
								<div class="col-1-3">
									<div class="wrap-col">
												
											<template v-for="item in first_col">
													<a @click="showinfo(item.name,item.type,item.feature,item.background,item.face_img)" class="portfolio-box zoom-effect">
															<img :src="item.face_img" class="img-responsive" alt="">
															<div class="portfolio-box-caption">
																<div class="portfolio-box-caption-content">
																	<div class="project-name">
																		<span>#{{ item.name }}</span>
																	</div>
																	<div class="project-name">
																		<span>{{ item.players }}*{{ item.price }}</span>
																	</div>
																</div>
															</div>
														</a>
											</template>

									</div>
                </div>
                <!-- 222222222222222222222222222222222 -->
                <div class="col-1-3">
                    <div class="wrap-col">

												<template v-for="item in second_col">
														<a @click="showinfo(item.name,item.type,item.feature,item.background,item.face_img)" class="portfolio-box zoom-effect">
																<img :src="item.face_img" class="img-responsive" alt="">
																<div class="portfolio-box-caption">
																	<div class="portfolio-box-caption-content">
																		<div class="project-name">
																			<span>#{{ item.name }}</span>
																		</div>
																		<div class="project-name">
																			<span>{{ item.players }}*{{ item.price }}</span>
																		</div>
																	</div>
																</div>
															</a>
												</template>
                          
                    </div>
                  </div>
                  <!-- 333333333333333333333333333333333 -->
                  <div class="col-1-3">
                      <div class="wrap-col">

													<template v-for="item in third_col">
															<a @click="showinfo(item.name,item.type,item.feature,item.background,item.face_img)" class="portfolio-box zoom-effect">
																	<img :src="item.face_img" class="img-responsive" alt="">
																	<div class="portfolio-box-caption">
																		<div class="portfolio-box-caption-content">
																			<div class="project-name">
																				<span>#{{ item.name }}</span>
																			</div>
																			<div class="project-name">
																				<span>{{ item.players }}*{{ item.price }}</span>
																			</div>
																		</div>
																	</div>
																</a>
													</template>
                            
                      </div>
                    </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--////////////////////////////////////Footer-->
		<footer style="border-top: 0px solid #bbb;margin-top: 0px;">
			<div class="zerogrid wrap-footer">
          <div class="copyright">
              本页面所显示的价格均为会员价
            </div>
				<div class="copyright">
					Copyright @ - Reason Tabletop Role-playing Game Club
        </div>
        
			</div>
		</footer>
		<!-- carousel -->
		<script src="owl-carousel/owl.carousel.js"></script>
		<script>
		$(document).ready(function() {
		  $("#owl-slide").owlCarousel({
			autoPlay: 3000,
			items : 1,
			itemsDesktop : [1199,1],
			itemsDesktopSmall : [979,1],
			itemsTablet : [768, 1],
			itemsMobile : [479, 1],
			navigation: true,
			navigationText: ['<i class="fa fa-chevron-left fa-5x"></i>', '<i class="fa fa-chevron-right fa-5x"></i>'],
			pagination: false
		  });
		});
		</script>
		<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
		<script>
			var gallery = new Vue({
				el: '#gallery',
				data: {
					first_col: [
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face/%E6%9D%9C%E9%B9%83%E8%A1%80.png',
							name: '杜鹃血',
							players: '7',
							price: '58',
							background: '许是成情无后所致，而今的他醉心女色，并开始广纳嫔妃。成帝无嗣，皇家无后可是一桩大事。但除却朝堂的暗潮涌动，民间自是一番歌舞升平。可谁又知道眼前的歌舞升平，是多少暗潮涌动下的风平浪静呢?',
							type: '拍凶 还原',
							feature:'古代 人性体现'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face/%E8%AE%B0%E5%BF%86%E7%A2%8E%E7%89%87.png',
							name: '记忆碎片',
							players: '7',
							price: '58',
							background: '无',
							type: '新机制 还原',
							feature:'无本游戏'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face/%E6%98%A5%E5%A4%A9%E9%AB%98%E6%A0%A1.jpg',
							name: '春天高校',
							players: '7',
							price: '58',
							background: '城郊的贵族学校，拥有严格的管理制度，也是问题学生的集中营。随着莫名的一场爆炸，食堂的坍塌，师生七人死里逃生汇集在了人防洞内，随着老师点名的开始…多了一个？还是少了一个？食堂？教学楼？宿舍区？伴随着探索的深入，一具具尸体被发现，凶手就隐藏在我们中间…春天高校，你来过吗？只记得一个幽幽的声音在你耳边呢喃：你还记得我吗？',
							type: '还原 推凶',
							feature:'学校那些事'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face2/guiqimaxituan.jpeg',
							name: '诡奇马戏团',
							players: '7',
							price: '58',
							background: '女士们先生们！欢迎光临诡奇马戏团！ 在这里你可以欣赏到很多奇异的表演：神秘恐怖的魔术、连体双子二重唱、不可思议的杂技、惊心动魄的驯兽、滑稽有趣的小丑、袖珍少女的戏法以及诡奇的畸形秀。今天，你想看点什么呢？',
							type: '还原 推凶',
							feature:'马戏团背景'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face2/huapingjiushi.jpeg',
							name: '华平旧事',
							players: '7',
							price: '58',
							background: '上海，民国时期中国最繁华的城市。这里是虚与委蛇的名利圈，是声色犬马的不夜城，是风云动荡的角斗场，亦是小人物逆袭奋斗的传奇地。的黑暗即将拉开争斗的帷幕，罪恶的种子也已在人心生根发芽。郭家的前途又将如何？上海滩的命运又将如何？',
							type: '本格推理',
							feature:'大时间线还原'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/12432345.jpg',
							name: '狼人之血',
							players: '7',
							price: '58',
							background: '在一个宁静的小村落，村民惨死，是狼人出没？还是人为谋杀？当一个狩魔猎人踏进这个小村落时，这里的一切还笼罩着更为可怕的秘密…',
							type: '魔幻',
							feature:'西方魔幻题材'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/d1c0d5628535e5dd3a6267b061c6a7efce1b6212.jpg',
							name: '波旬',
							players: '7',
							price: '88',
							background: '波旬是一个以西藏为文化背景的剧本杀，但它不仅仅是一部普及西藏文化的剧本杀，如果你热爱手法、享受盘凶，那你一定不能错过；如果你喜欢还原、沉浸机制，那你更需要去感受！这是一个难度极高，极其硬核的剧本杀。',
							type: '佛教背景',
							feature:'小机制 硬核推理'
						}
					],
					second_col: [
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face/%E8%97%8F%E5%B1%B1%E9%9B%AA.jpg',
							name: '藏山雪',
							players: '7',
							price: '88',
							background: '南迦巴瓦西马了山脉中沉睡的圣地，无人知晓这座圣山，埋藏着多少秘密。藏山雪就藏在旗山之间的，有一个美丽湖泊就是“南迦巴瓦的眼泪 ”——天明神湖”，然而关于南迦巴瓦的眼泪的原因还有一个神秘的传说。',
							type: '本格推理 还原',
							feature:'故事线 大体量'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face/%E9%87%8E%E6%A8%B1%E8%8A%B1.jpg',
							name: '野樱花事件',
							players: '7',
							price: '78',
							background: '曾经在日本肆虐一时的毒品犯罪集团−野樱花组织一朝覆灭。背后看似毫无关系的众人像提线木偶一样纷纷上演着自己的角色。各种利益交织下的阴谋层出不穷，一场接一场的夺命凶案不断上演，开往地狱地列车，终将无人生还……',
							type: '本格推理',
							feature:'事件多 推凶复杂'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face2/diershiertiaoxiaogui.jpg',
							name: '第二十二条校规',
							players: '7',
							price: '78',
							background: '现在是凌晨两点，往日人声鼎沸的学校里此刻充满寂静，阴冷的月光照在一个个无人的教室里，给黑夜平添了一份诡异感。教学楼一共有六层，“他”在五楼的时候好像极力躲避着什么，“他”好像突然感觉到什么，“他”又飞奔到二楼，“他”在二楼走廊的尽头打开了一个教室的门，结果“他”看到了难以置信的一幕，随后，寂静的校园传出了一声凄厉的惨叫……',
							type: '恐怖沉浸 拍凶 还原',
							feature:'现代 人性体现'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face2/yunshuanghu.jpeg',
							name: '云双湖',
							players: '7',
							price: '128',
							background: '民国背景 人性体现',
							type: '本格 还原 推凶',
							feature:'时局动荡的民国，离奇出现的尸体，掩藏在迷雾背后的真相牵连而出的是真凶，更是身世之谜。这一切和那个古老的传说到底有没有联系？昔日风光的刘家大院为何落魄至今？庞大的故事体系和丰富的支线任务支撑起所有角色，当你的一举一动都关系着整个家国命运时，你是否还能坚守你最初的信念？且将自己置身于这场复仇的游戏，看一看谁才是最后的赢家。'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face2/%E7%99%BD%E6%97%A5%E5%AD%A4%E7%87%88.jpg',
							name: '白日孤灯',
							players: '7',
							price: '88',
							background: '警方接到报案，静心堂公司老板闫静在自己的办公室内被杀害。不知为何，这起命案引起了警队高层的注意，7天之内抓捕凶手。高度还原真实刑侦过程，你们的每一次行动，都可能影响到案情的发展。你们能在规定时间内，抓到凶手吗？',
							type: '现代 解密',
							feature:'警察办案'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/566666.jpg',
							name: '禁锢之塔',
							players: '7',
							price: '58',
							background: '',
							type: '',
							feature:''
						},						
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/%E5%8A%AB%E5%A4%96%E7%94%9F%E6%9E%9D.jpg',
							name: '劫外生枝',
							players: '7',
							price: '98',
							background: '记者阿提查在泰国曼谷国际电影节上对女明星的私生活内容连续爆料，引来粉丝众怒，对于最佳女主角的竞选产生了无法预测的影响，本次节目的主要内容有：楠迪出演《初夜这件小事》，沃伦娜拉赤身肉搏亲自上演激情戏，下面请看详细报道。',
							type: '演绎 推凶',
							feature:'泰国背景 演绎'
						},
						
					],
					third_col: [
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face/%E8%BF%AA%E8%B5%9B%E6%99%AE.png',
							name: '迪赛普',
							players: '7',
							price: '58',
							background: '悠悠转转，脑子昏沉沉。环绕四周，旁边一圈蜡烛，身处诡异阵法……迪赛普教派一年一度的洗礼日，八名信徒被选中参加洗礼，其中一位信徒却惨死在仪式上，迪赛普大祭司震怒宣布神谕：如果你们不能找到凶手，至高存在将亲自惩戒你们！',
							type: '拍凶 还原',
							feature:'西欧 人性体现'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face/%E4%BA%91%E7%A0%B4%E6%9C%88%E6%9D%A5%E8%8A%B1%E5%BC%84%E5%BD%B1.jpg',
							name: '云破月来花弄影',
							players: '7',
							price: '78',
							background: '水调数声持酒听。午醉醒来愁未醒。送春春去几时回。临晚镜。伤流景。往事后期空记省。沙上并禽池上暝。云破月来花弄影。重重帘幕密遮灯，风不定。人初静。明日落红应满径',
							type: '古代 情感',
							feature:'情感问题'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face2/dieluodemeigui.jpg',
							name: '跌落的玫瑰',
							players: '7',
							price: '68',
							background: '今天(8月18日),夜总会为其明星歌手月蝶主演的电影《跌落的玫瑰》举行发布会,暂停了营业。下午7:00,发布会刚刚结束,一位穿和服的女人走进夜总会的大厅她并不在今天被邀请的名单之内',
							type: '拍凶 还原',
							feature:'民国 人性体现'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face2/choushilu.png',
							name: '仇世录',
							players: '7',
							price: '98',
							background: '15世纪的欧洲最黑暗得时期，有一个残暴的统治者—德弗拉德伯爵,他的残暴不亚于任何灾祸。1468年,德弗拉德的城堡遭遇叛军入侵,伯爵在自己房间遇刺身亡。但在伯爵的吊唁仪式上,他的棺材突然自己打开了',
							type: '机制 拍凶 还原',
							feature:'欧洲古代'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face2/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20200501185523.jpg',
							name: '鬼曼童',
							players: '7',
							price: '78',
							background: '鬼曼童他是一种不死之物，是用活的婴儿炼制而成的，先把婴儿放入吊魂窑的炼炉里，再用大火烘烤，烤成尸干后，往炉中加入七处坟场土，将撕裂的冤魂困在尸干中，再文火烘焙七小时，鬼曼童就炼成了。',
							type: '恐怖 还原',
							feature:'泰国背景 恐怖成分'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20200525140023.jpg',
							name: '南瓜灯',
							players: '7',
							price: '98',
							background: '橘周公寓是一家青年公寓，虽然价格较低，但位置实在有些偏僻，所以租客不是很多。台风暴雨的万圣节，橘周公寓的男男女女聚在一起，准备一次万圣节狂欢。酒精、糖果、变装秀、南瓜灯、恐怖热闹的气氛中，灯光开启，轻轻摇晃的小女巫在墙壁上荡着秋千，美丽的头颅却消失不见。',
							type: '微恐 还原 推凶',
							feature:'万圣节背景 还原杀人手法'
						},
						
					]
				},
				methods: {
					showinfo(x,y,z,p,q) {
						Swal.fire({
							html:
							`<br>
							<h1 style="color: #333;">` + x + `<h1>
							
							<br>
							<div style="display:flex; align-items: center; justify-content: space-between;">
								<div style="width: 100%;  text-align: left; color: #333;">
									<h4>类型：</h4>
									<h5>` + y + `<h5>
									<br>
									<h4>特色：</h4>
									<h5>` + z + `<h5>
									<br>
									<h4>简介：</h4>
									<h5>` + p + `<h5>
								</div>
								<img src="` + q + `" width="45%" height="auto" >
							</div>
							`,
							confirmButtonText: '关闭',
							// background: '#fff url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1590486827412&di=37722becb90d6df4e25e00fa78878ac2&imgtype=0&src=http%3A%2F%2Fdpic.tiankong.com%2Fa5%2F51%2FQJ6273065730.jpg%3Fx-oss-process%3Dstyle%2Fshow)',
							confirmButtonColor: '#555'
						});
					}
				},
			})
		</script>
	</div>
</body>
</html>
