<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>REASON</title>
	<meta name="description" content="Free Responsive Html5 Css3 Templates">
	<meta name="author" content="">
	
    <!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- CSS
	================================================== -->
  	<link rel="stylesheet" href="https://ccreason.oss-cn-beijing.aliyuncs.com/websource/css/zerogrid.css">
	<link rel="stylesheet" href="https://ccreason.oss-cn-beijing.aliyuncs.com/websource/css/style.css">
	
	<!-- Custom Fonts -->
<!--    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->
	
	
	<link rel="stylesheet" href="https://ccreason.oss-cn-beijing.aliyuncs.com/websource/css/menu.css">
	<script src="https://ccreason.oss-cn-beijing.aliyuncs.com/websource/js/jquery1111.min.js" type="text/javascript"></script>
	<script src="https://ccreason.oss-cn-beijing.aliyuncs.com/websource/js/script.js"></script>
	
	<!-- Owl Carousel Assets -->
    <link href="https://ccreason.oss-cn-beijing.aliyuncs.com/websource/owl-carousel/owl.carousel.css" rel="stylesheet">
	
	<!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/Items/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
		<script src="js/html5.js"></script>
		<script src="js/css3-mediaqueries.js"></script>
	<![endif]-->
	<link href="https://cdn.bootcdn.net/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.css" rel="stylesheet">
	<style>
		.has-sub ul li {
			max-width: 137px;
		}
		#cssmenu {
			z-index: 20;
		}
	</style>
			<script src="https://cdn.bootcdn.net/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.js"></script>

</head>

<body>
	<div class="wrap-body">
		
		<header class="main-header">
			<div class="zerogrid">
				<!--Top-->
				<div class="t-center">
					<a class="site-branding" href="index.html">
						<img src="https://ccreason.oss-cn-beijing.aliyuncs.com/websource/images/nlogo.png" width="300px"/>	
					</a><!-- .site-branding -->
					
					<!-- Menu-main -->
					<div id="cssmenu" class="align-center">
						<ul>
              <li><a href="index.html"><span>Home</span></a></li>
              <li class=""><a href='5-.html'><span>5-</span></a></li>
              <li><a href='6.html'><span>6</span></a></li>
              <li><a href='7.html'><span>7</span></a></li>
							<li class='last active'><a href='8+.html'><span>8+</span></a></li>
							<li class=" has-sub"><a href="#"><span>价格筛选</span></a>
							  <ul>
								 <li><a href="58.html"><span style="font-size: 19px;">58</span></a></li>
								 <li><a href="68.html"><span style="font-size: 19px;">68</span></a></li>
								 <li><a href="78.html"><span style="font-size: 19px;">78</span></a></li>
								 <li><a href="88.html"><span style="font-size: 19px;">88</span></a></li>
								 <li><a href="98+.html"><span style="font-size: 19px;">98+</span></a></li>
							  </ul>
						   </li>
           </ul>
					</div>
				</div>
			</div>
		</header>
		
		<!--////////////////////////////////////Container-->
		<section id="container">
			<div class="wrap-container">
				<div id="main-content">
					<div class="wrap-content">
						<div class="zerogrid">
							<div class="row" id="gallery">
                <!-- 111111111111111111111111111 -->
								<div class="col-1-3">
									<div class="wrap-col">
												
											<template v-for="item in first_col">
													<a @click="showinfo(item.name,item.type,item.feature,item.background,item.face_img)" class="portfolio-box zoom-effect">
															<img :src="item.face_img" class="img-responsive" alt="">
															<div class="portfolio-box-caption">
																<div class="portfolio-box-caption-content">
																	<div class="project-name">
																		<span>#{{ item.name }}</span>
																	</div>
																	<div class="project-name">
																		<span>{{ item.players }}*{{ item.price }}</span>
																	</div>
																</div>
															</div>
														</a>
											</template>

									</div>
                </div>
                <!-- 222222222222222222222222222222222 -->
                <div class="col-1-3">
                    <div class="wrap-col">

												<template v-for="item in second_col">
														<a @click="showinfo(item.name,item.type,item.feature,item.background,item.face_img)" class="portfolio-box zoom-effect">
																<img :src="item.face_img" class="img-responsive" alt="">
																<div class="portfolio-box-caption">
																	<div class="portfolio-box-caption-content">
																		<div class="project-name">
																			<span>#{{ item.name }}</span>
																		</div>
																		<div class="project-name">
																			<span>{{ item.players }}*{{ item.price }}</span>
																		</div>
																	</div>
																</div>
															</a>
												</template>
                          
                    </div>
                  </div>
                  <!-- 333333333333333333333333333333333 -->
                  <div class="col-1-3">
                      <div class="wrap-col">

													<template v-for="item in third_col">
															<a @click="showinfo(item.name,item.type,item.feature,item.background,item.face_img)" class="portfolio-box zoom-effect">
																	<img :src="item.face_img" class="img-responsive" alt="">
																	<div class="portfolio-box-caption">
																		<div class="portfolio-box-caption-content">
																			<div class="project-name">
																				<span>#{{ item.name }}</span>
																			</div>
																			<div class="project-name">
																				<span>{{ item.players }}*{{ item.price }}</span>
																			</div>
																		</div>
																	</div>
																</a>
													</template>
                            
                      </div>
                    </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--////////////////////////////////////Footer-->
		<footer style="border-top: 0px solid #bbb;margin-top: 0px;">
			<div class="zerogrid wrap-footer">
          <div class="copyright">
              本页面所显示的价格均为原价
            </div>
				<div class="copyright">
					Copyright @ - Reason Tabletop Role-playing Game Club
        </div>
        
			</div>
		</footer>
		<!-- carousel -->
		<script src="owl-carousel/owl.carousel.js"></script>
		<script>
		$(document).ready(function() {
		  $("#owl-slide").owlCarousel({
			autoPlay: 3000,
			items : 1,
			itemsDesktop : [1199,1],
			itemsDesktopSmall : [979,1],
			itemsTablet : [768, 1],
			itemsMobile : [479, 1],
			navigation: true,
			navigationText: ['<i class="fa fa-chevron-left fa-5x"></i>', '<i class="fa fa-chevron-right fa-5x"></i>'],
			pagination: false
		  });
		});
		</script>
		<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
		<script>
			var gallery = new Vue({
				el: '#gallery',
				data: {
					first_col: [
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face2/dengxiahei.jpeg',
							name: '灯下黑',
							players: '8',
							price: '128',
							background: '1644年清军入关，李自成兵败激离北京，渡黄河至面安。世间都流传着湖北有着“闻王宣藏”的传说。1932年，白家家主突然暴毙。三年后的今天，八个人又回到了白家大院。巧合?亦或是阴谋?白家大院的秘密只是表面上那么简单吗，每个人的命运又会有什么改变?各路人马，闻王宝藏，争夺一触即发。黑的地方未必黑，亮的地方未必亮！',
							type: '阵营 推理',
							feature:'近代 人性体现'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face/%E8%91%AC%E7%88%B1%E5%87%BA%E5%BE%81%20%E5%AF%B8%E8%8D%89%E4%B8%8D%E7%94%9F.jpg',
							name: '葬爱出征',
							players: '8',
							price: '98',
							background: '婲.落.花.开.﹍﹍﹍原來（莪）卜曾拥冇過什厸﹖﹗~╱ ★゜ 尒 詠 逺 Sんī 硪 德 蕞 嗳，⑧ 菅 āì 妳 侑 哆 難，莪 啲 惢 芷 想 屬 於 伱',
							type: '重口味 非主流',
							feature:'非主流时代欢乐'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face/%E8%89%AF%E8%BE%B0%E5%90%89%E6%97%A5.png',
							name: '良辰吉日',
							players: '8',
							price: '78',
							background: '时维大唐开元十一年，在岭南广州城外的白云山上，有一座精巧的宅院。宅院的主人，是巢国公武攸绪的长孙武仲文。昔年，因种种原因使得大乱。今日，是九月初三，往日清静的武府鼓乐喧天，宾客盈门，只因当家的少主武仲文要在午时迎娶岭南首富的千金梁嫣。我们的故事，便在此时拉开了序幕……',
							type: '拍凶 还原',
							feature:'古代 人性体现'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face2/tangxiaheren.jpg',
							name: '堂下何人',
							players: '8',
							price: '78',
							background: '白骨露于野,千里无鸡鸣。生民百遗一,念之断人肠。大明已濒临枯朽,佳节渐近,山脚村落却人烟稀薄,毫无筹备佳节的样子。守村的老人抱着柴禾，忽地看见不远处官道上,似乎是从京师来车队在入山遭停了下来,掀开厢帘,一个穿着三品红色官服的中年男子走下了车。',
							type: '演绎 还原',
							feature:'古代 人性体现'
						},
					],
					second_col: [
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face2/pantu.jpg',
							name: '判途',
							players: '8',
							price: '128',
							background: '1935年，北国的寒风吹拂着林海雪原。这时的东三省都在日寇的掌握之中。东北的煤矿，工业，铁路，无不掌握在日寇手中。10月15日，一辆名为亚细亚号特快专列就是在这样的背景下，车上深夜发生了一起命案。日本特高课代课长藤原里美就在这辆列车上。她怀疑列车上有中共党员，于是，日本宪兵们将乘客们集中在了餐车，开始了搜查。',
							type: '本格 机制',
							feature:'阵营对抗 民国背景'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face/%E9%80%90%E6%A2%A6%E6%BC%94%E8%89%BA%E5%9C%88.jpg',
							name: '逐梦演艺圈',
							players: '9-10',
							price: '78',
							background: 'MILO组合成员方芳全裸死在酒店的浴缸里，房间又被翻动过的痕迹，一枚价值连城的蓝宝石戒指不翼而飞，酒店的监控被人为关闭，凶手究竟是谁？',
							type: '撕逼拍凶',
							feature:'现代 人性体现'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face2/xungouren.jpg',
							name: '驯狗人',
							players: '8',
							price: '78',
							background: '今日，在Y岛举行了一场全球性范围的驯狗比赛，第一轮比赛后，驯狗师王玺技压群雄，就在晚上9点钟，王玺被发现死在了房间中…',
							type: '现代',
							feature:'重口味'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/12432345.jpg',
							name: '狼人之血',
							players: '8',
							price: '78',
							background: '在一个宁静的小村落，村民惨死，是狼人出没？还是人为谋杀？当一个狩魔猎人踏进这个小村落时，这里的一切还笼罩着更为可怕的秘密…',
							type: '魔幻',
							feature:'西方魔幻题材'
						}
					],
					third_col: [
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face/%E7%99%BE%E5%B9%B4%E5%A5%BD%E5%90%88.jpg',
							name: '百年好合',
							players: '8',
							price: '88',
							background: '离，必须离！',
							type: '欢乐撕逼',
							feature:'四对情侣离婚'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face2/gongxinji.jpg',
							name: '宫心计',
							players: '9',
							price: '78',
							background: '在齐国内那狭小的后宫中，皇帝命不久矣，人心蠢动之时，各方暗流涌动，一群女人为了自己的命运，勾心斗角，尔虞我诈，在这精致的牢笼中挣扎着。谁最后能脱颖而出呢？',
							type: '古代 夺宝',
							feature:'九个女人一台戏'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face/%E6%B2%A7%E6%B5%B7%E9%81%97%E7%8F%A0.jpg',
							name: '沧海遗珠',
							players: '8',
							price: '78',
							background: '海城里，有着两家顶尖集团，一家是耿氏集团，一家是云氏集团。2017年8月8日。今晚再耿宅内发生了ー起谋杀案，死者是耿氏集团的副总裁秦沧海，耿家的大儿媳，死亡地点是自己的卧室。今晚在耿宅里一共有七个嫌疑人，耿世诚认为有人从秦沧海手里拿走了耿氏的机密文件，所以在找到凶手前，谁也不能离开',
							type: '拍凶 还原',
							feature:'现代 人性体现'
						},
					]
				},
				methods: {
					showinfo(x,y,z,p,q) {
						Swal.fire({
							html:
							`<br>
							<h1 style="color: #333;">` + x + `<h1>
							
							<br>
							<div style="display:flex; align-items: center; justify-content: space-between;">
								<div style="width: 100%;  text-align: left; color: #333;">
									<h4>类型：</h4>
									<h5>` + y + `<h5>
									<br>
									<h4>特色：</h4>
									<h5>` + z + `<h5>
									<br>
									<h4>简介：</h4>
									<h5>` + p + `<h5>
								</div>
								<img src="` + q + `" width="45%" height="auto" >
							</div>
							`,
							confirmButtonText: '关闭',
							// background: '#fff url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1590486827412&di=37722becb90d6df4e25e00fa78878ac2&imgtype=0&src=http%3A%2F%2Fdpic.tiankong.com%2Fa5%2F51%2FQJ6273065730.jpg%3Fx-oss-process%3Dstyle%2Fshow)',
							confirmButtonColor: '#555'
						});
					}
				},
			})
		</script>
	</div>
</body>
</html>
