<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>REASON</title>
	<meta name="description" content="Free Responsive Html5 Css3 Templates">
	<meta name="author" content="">
	
    <!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- CSS
	================================================== -->
  	<link rel="stylesheet" href="https://ccreason.oss-cn-beijing.aliyuncs.com/websource/css/zerogrid.css">
	<link rel="stylesheet" href="https://ccreason.oss-cn-beijing.aliyuncs.com/websource/css/style.css">
	
	<!-- Custom Fonts -->
<!--    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->
	
	
	<link rel="stylesheet" href="https://ccreason.oss-cn-beijing.aliyuncs.com/websource/css/menu.css">
	<script src="https://ccreason.oss-cn-beijing.aliyuncs.com/websource/js/jquery1111.min.js" type="text/javascript"></script>
	<script src="https://ccreason.oss-cn-beijing.aliyuncs.com/websource/js/script.js"></script>
	
	<!-- Owl Carousel Assets -->
    <link href="https://ccreason.oss-cn-beijing.aliyuncs.com/websource/owl-carousel/owl.carousel.css" rel="stylesheet">
	
	<!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/Items/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
		<script src="js/html5.js"></script>
		<script src="js/css3-mediaqueries.js"></script>
	<![endif]-->
	<link href="https://cdn.bootcdn.net/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.css" rel="stylesheet">
	<style>
		.has-sub ul li {
			max-width: 137px;
		}
		#cssmenu {
			z-index: 20;
		}
	</style>
			<script src="https://cdn.bootcdn.net/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.js"></script>

</head>

<body>
	<div class="wrap-body">
		
		<header class="main-header">
			<div class="zerogrid">
				<!--Top-->
				<div class="t-center">
					<a class="site-branding" href="index.html">
						<img src="https://ccreason.oss-cn-beijing.aliyuncs.com/websource/images/nlogo.png" width="300px"/>	
					</a><!-- .site-branding -->
					
					<!-- Menu-main -->
					<div id="cssmenu" class="align-center">
						<ul>
              <li><a href="index.html"><span>Home</span></a></li>
              <li><a href='5-.html'><span>5-</span></a></li>
              <li><a href='6.html'><span>6</span></a></li>
              <li><a href='7.html'><span>7</span></a></li>
							<li class='last'><a href='8+.html'><span>8+</span></a></li>
							<li class=" has-sub"><a href="#"><span>价格筛选</span></a>
							  <ul>
								 <li><a href="58.html"><span style="font-size: 19px;">58</span></a></li>
								 <li><a href="68.html"><span style="font-size: 19px;">68</span></a></li>
								 <li><a href="78.html"><span style="font-size: 19px;">78</span></a></li>
								 <li><a href="88.html"><span style="font-size: 19px;">88</span></a></li>
								 <li class="active"><a href="98+.html"><span style="font-size: 19px;">98+</span></a></li>
							  </ul>
						   </li>
           </ul>
					</div>
				</div>
			</div>
		</header>
		
		<!--////////////////////////////////////Container-->
		<section id="container">
			<div class="wrap-container">
				<div id="main-content">
					<div class="wrap-content">
						<div class="zerogrid">
							<div class="row" id="gallery">
                <!-- 111111111111111111111111111 -->
								<div class="col-1-3">
									<div class="wrap-col">
												
											<template v-for="item in first_col">
													<a @click="showinfo(item.name,item.type,item.feature,item.background,item.face_img)" class="portfolio-box zoom-effect">
															<img :src="item.face_img" class="img-responsive" alt="">
															<div class="portfolio-box-caption">
																<div class="portfolio-box-caption-content">
																	<div class="project-name">
																		<span>#{{ item.name }}</span>
																	</div>
																	<div class="project-name">
																		<span>{{ item.players }}*{{ item.price }}</span>
																	</div>
																</div>
															</div>
														</a>
											</template>

									</div>
                </div>
                <!-- 222222222222222222222222222222222 -->
                <div class="col-1-3">
                    <div class="wrap-col">

												<template v-for="item in second_col">
														<a @click="showinfo(item.name,item.type,item.feature,item.background,item.face_img)" class="portfolio-box zoom-effect">
																<img :src="item.face_img" class="img-responsive" alt="">
																<div class="portfolio-box-caption">
																	<div class="portfolio-box-caption-content">
																		<div class="project-name">
																			<span>#{{ item.name }}</span>
																		</div>
																		<div class="project-name">
																			<span>{{ item.players }}*{{ item.price }}</span>
																		</div>
																	</div>
																</div>
															</a>
												</template>
                          
                    </div>
                  </div>
                  <!-- 333333333333333333333333333333333 -->
                  <div class="col-1-3">
                      <div class="wrap-col">

													<template v-for="item in third_col">
															<a @click="showinfo(item.name,item.type,item.feature,item.background,item.face_img)" class="portfolio-box zoom-effect">
																	<img :src="item.face_img" class="img-responsive" alt="">
																	<div class="portfolio-box-caption">
																		<div class="portfolio-box-caption-content">
																			<div class="project-name">
																				<span>#{{ item.name }}</span>
																			</div>
																			<div class="project-name">
																				<span>{{ item.players }}*{{ item.price }}</span>
																			</div>
																		</div>
																	</div>
																</a>
													</template>
                            
                      </div>
                    </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--////////////////////////////////////Footer-->
		<footer style="border-top: 0px solid #bbb;margin-top: 0px;">
			<div class="zerogrid wrap-footer">
          <div class="copyright">
              本页面所显示的价格均为会员价
            </div>
				<div class="copyright">
					Copyright @ - Reason Tabletop Role-playing Game Club
        </div>
        
			</div>
		</footer>
		<!-- carousel -->
		<script src="owl-carousel/owl.carousel.js"></script>
		<script>
		$(document).ready(function() {
		  $("#owl-slide").owlCarousel({
			autoPlay: 3000,
			items : 1,
			itemsDesktop : [1199,1],
			itemsDesktopSmall : [979,1],
			itemsTablet : [768, 1],
			itemsMobile : [479, 1],
			navigation: true,
			navigationText: ['<i class="fa fa-chevron-left fa-5x"></i>', '<i class="fa fa-chevron-right fa-5x"></i>'],
			pagination: false
		  });
		});
		</script>
		<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
		<script>
			var gallery = new Vue({
				el: '#gallery',
				data: {
					first_col: [
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face2/dengxiahei.jpeg',
							name: '灯下黑',
							players: '8',
							price: '98',
							background: '1644年清军入关，李自成兵败激离北京，渡黄河至面安。世间都流传着湖北有着“闻王宣藏”的传说。1932年，白家家主突然暴毙。三年后的今天，八个人又回到了白家大院。巧合?亦或是阴谋?白家大院的秘密只是表面上那么简单吗，每个人的命运又会有什么改变?各路人马，闻王宝藏，争夺一触即发。黑的地方未必黑，亮的地方未必亮！',
							type: '阵营 推理',
							feature:'近代 人性体现'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face2/pantu.jpg',
							name: '判途',
							players: '8',
							price: '98',
							background: '1935年，北国的寒风吹拂着林海雪原。这时的东三省都在日寇的掌握之中。东北的煤矿，工业，铁路，无不掌握在日寇手中。10月15日，一辆名为亚细亚号特快专列就是在这样的背景下，车上深夜发生了一起命案。日本特高课代课长藤原里美就在这辆列车上。她怀疑列车上有中共党员，于是，日本宪兵们将乘客们集中在了餐车，开始了搜查。',
							type: '本格 机制',
							feature:'阵营对抗 民国背景'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face2/daodaodao.jpg',
							name: '盗道倒',
							players: '6',
							price: '98',
							background: '昆仑山是天下龙脉的根源。龙蟠县禾母村位于昆仑山脚下，大大小小的古墓数都数不清。这里机关万重，险境横生。今日，几个年轻人来到此地，短暂的合作只因求生的本能，人性的阴暗处隐藏着杀机和阴谋，无底洞里无尽的囚禁，黑暗中未知的怪物潜伏在理智崩溃的边缘。诡异的哨子声再次响起，这次，又会是谁？',
							type: '机制 拍凶',
							feature:'盗墓题材'
						}
					],
					second_col: [
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/wangyueguanshijian.jpeg',
							name: '望月馆事件',
							players: '6',
							price: '98',
							background: '一个名为真理教的神秘宗教团体，据说你只要向其信奉的真神虔诚祈愿，便可如愿以偿。在两年前当选的圣女，是著名娱乐公司 Star Echo的当红女星林曦芝，她自从获封圣女，工作事业可谓蒸蒸日上。然而林曦芝正处于上升期之时，却突然传出了意外身亡的消息。真理教为了稳住局面，宣称林曦芝生前为真理教鞠躬尽瘁，逝去后她的灵魂将在真神的庇佑下得以永存',
							type: '烧脑',
							feature:'现代 人性体现'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face2/yunshuanghu.jpeg',
							name: '云双湖',
							players: '7',
							price: '128',
							background: '',
							type: '',
							feature:''
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/%E5%8A%AB%E5%A4%96%E7%94%9F%E6%9E%9D.jpg',
							name: '劫外生枝',
							players: '7',
							price: '98',
							background: '记者阿提查在泰国曼谷国际电影节上对女明星的私生活内容连续爆料，引来粉丝众怒，对于最佳女主角的竞选产生了无法预测的影响，本次节目的主要内容有：楠迪出演《初夜这件小事》，沃伦娜拉赤身肉搏亲自上演激情戏，下面请看详细报道。',
							type: '演绎 推凶',
							feature:'泰国背景 演绎'
						},
					],
					third_col: [
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face2/choushilu.png',
							name: '仇世录',
							players: '7',
							price: '98',
							background: '15世纪的欧洲最黑暗得时期，有一个残暴的统治者—德弗拉德伯爵,他的残暴不亚于任何灾祸。1468年,德弗拉德的城堡遭遇叛军入侵,伯爵在自己房间遇刺身亡。但在伯爵的吊唁仪式上,他的棺材突然自己打开了',
							type: '机制 拍凶 还原',
							feature:'欧洲古代'
						},
						{
							face_img: 'https://ccreason.oss-cn-beijing.aliyuncs.com/websource/face2/xinlijiaocui.jpeg',
							name: '心力交瘁',
							players: '6',
							price: '128',
							background: '',
							type: '',
							feature:''
						}
					]
				},
				methods: {
					showinfo(x,y,z,p,q) {
						Swal.fire({
							html:
							`<br>
							<h1 style="color: #333;">` + x + `<h1>
							
							<br>
							<div style="display:flex; align-items: center; justify-content: space-between;">
								<div style="width: 100%;  text-align: left; color: #333;">
									<h4>类型：</h4>
									<h5>` + y + `<h5>
									<br>
									<h4>特色：</h4>
									<h5>` + z + `<h5>
									<br>
									<h4>简介：</h4>
									<h5>` + p + `<h5>
								</div>
								<img src="` + q + `" width="45%" height="auto" >
							</div>
							`,
							confirmButtonText: '关闭',
							// background: '#fff url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1590486827412&di=37722becb90d6df4e25e00fa78878ac2&imgtype=0&src=http%3A%2F%2Fdpic.tiankong.com%2Fa5%2F51%2FQJ6273065730.jpg%3Fx-oss-process%3Dstyle%2Fshow)',
							confirmButtonColor: '#555'
						});
					}
				},
			})
		</script>
	</div>
</body>
</html>
